h1 {
	font-size: 50px;
	text-align: center;
}

.first {
	color: black;
}

.second {
	color: yellow;
}

#smallheader {
	text-align: center;
}

#giant {
	font-size: 500px;
	text-align: center;
}