h1 {
	font-size: 100px;
	text-align: center;
}

.first {
	color: black;
}

.second {
	color: black;
}

#smallheader {
	font-size: 50px;
	text-align: center;
	font-family: "Comic Sans MS";
	color: purple;
}
#smallerheader {
	font-size: 30px;
	text-align: center;
	font-family: "Comic Sans MS";
	color: green;
}
#pepe {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#bitcoin {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}